@mixin button(
    $type,
    $textColor,
    $bg,
    $bg-hover,
    $hover-textColor,
    $font-size,
    $p-tb,
    $p-rl,
    $border-radius,
    $border-color
) {
    .button-#{$type} {
        color: $textColor !important;
        background-color: $bg;
        font-size: #{$font-size};
        padding: #{$p-tb} #{$p-rl};
        border-radius: #{$border-radius};
        border-color: $border-color;
    }

    .button-#{$type}:hover {
        color: $hover-textColor !important;
        background-color: $bg-hover;
    }

    .button-#{$type}:focus {
        -webkit-box-shadow: 6px 3px 40px 0px $bg-hover;
        -moz-box-shadow: 6px 3px 40px 0px $bg-hover;
        box-shadow: 6px 3px 40px 0px $bg-hover;
        background-color: $bg;
        color: $textColor !important;
    }
}
// $type,
// $textColor,
// $bg,
// $bg-hover,
// $hover-textColor,
// $font-size,
// $p-tb,
// $p-rl,
// $border-radius,
// $border-color

@include button(big, #fff, #e44747, #d04141, #fff, 18px, 22px, 59px, 3.6rem, #e44747);
@include button(header, #3f87fa, #f1f8fe, #3983fa, #fff, 1rem, 15px, 25px, 3.6rem, #3f87fa);
@include button(bottom, #3f87fa, #fff, #b1d0fd, #3f87fa, 18px, 24px, 56px, 3.6rem, #3f87fa);
@include button(cascade-red, #e44747, #fff, #e44747, #fff, 18px, 0.7rem, 2rem, 3.6rem, #e44747);
@include button(cascade-blue, #3f87fa, #fff, #3f87fa, #fff, 18px, 0.7rem, 2rem, 3.6rem, #3f87fa);
@include button(menu, #fff, #e44747, #d04141, #fff, 16px, 18px, 18px, 0.2rem, #e44747);

.basic-button {
    position: relative;
    line-height: 1;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms,
        border-color 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms,
        box-shadow 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms, color 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms,
        opacity 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms;
}
.menu-button {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
}
.button-menu {
    text-align: center;
    height: 100%;
    width: 100%;
}
.cascade-red {
    margin-top: 28px;
    border: 3px solid #e44747;
}
.cascade-blue {
    border: 3px solid #3983fa;
}
