.header {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #fff;
    height: 8rem;
    width: 100%;
    z-index: 99;
    font-weight: 500;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.menu {
    overflow: hidden;
    background-color: #fff;
    margin-left: auto;
    margin-right: 1.375rem;
    list-style: none;
    cursor: pointer;
}

.menu-item {
    display: inline-block;
    overflow: hidden;
    // :hover {
    //     color: #3983fa;
    // }
    // :before {
    //     top: 0.1rem;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     border: 0.1rem solid #d9dfea;
    //     content: "";
    // }
    // :hover:before {
    //     z-index: 4;
    //     border-width: 0.1rem 0.1rem 0;
    //     border-radius: 0.4rem 0.4rem 0 0;
    //     content: "";
    // }
}
// .submenu-wrapper:hover .menu-link:before {
//     border-top-color: #3983fa;
//     transform: rotate(180deg);
// }
// .submenu-wrapper:before {
//     border-width: 0.1rem 0.1rem 0 0.1rem;
//     border-radius: 0.4rem 0.4rem 0 0;
// }
// .submenu-wrapper .menu-link:before {
//     z-index: 3;
//     top: 50%;
//     right: 1rem;
//     width: 0;
//     height: 0;
//     border-color: #676b78 transparent transparent;
//     border-style: solid;
//     border-width: 0.4rem 0.4rem 0 0.4rem;
//     margin-top: -0.2rem;
//     content: "";
//     transition: transform 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms;
// }

.menu-link {
    box-sizing: border-box;
    border: 0.1rem solid #fff;
    padding: 14px 16px;
    width: 26.125rem;
}
.menu-link:hover {
    color: #3983fa;
}
// .menu-link:after {
//     height: 0;
//     content: attr(data-title);
//     visibility: hidden;
// }
// .menu-item:hover.submenu-wrapper:after {
//     opacity: 1;
// }

// .submenu-wrapper:after {
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     right: 0;
//     width: 100vw;
//     height: 100vh;
//     content: "";
//     transition: opacity 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms;
// }

.menu-link:hover {
    box-sizing: border-box;
    border: 0.1rem solid #d9dfea;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 26.125rem;
    background-color: white;
    border: 0.1rem solid #d9dfea;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item:hover .dropdown-content {
    display: block;
}

// .submenu-wrapper:before {
//     border-width: 0.1rem 0.1rem 0;
//     border-radius: 0.4rem 0.4rem 0 0;
// }
// .submenu-wrapper:hover,
// .menu-link:before {
//     border-top-color: #3983fa;
//     transform: rotate(180deg);
//     content: "";
// }

.sub-title-builder {
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://cdn-images.zety.com/images/common/icons/icon-resume-builder@1_25x.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 1.2rem;
    min-height: 5.1875rem;
    max-width: 15.625rem;
    padding: 37px 22px 37px 130px;

    a {
        display: block;
        .builder-title {
            font-size: 1.25rem;
        }
        .builder-subtitle {
            font-size: 0.875rem;
        }
    }

    a:hover {
        color: #3983fa;
        background-color: inherit;
        transition: color 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms;
    }
}

.coverletter-bg {
    background-image: url("https://cdn-images.zety.com/images/common/icons/icon-cover-letter@1_25x.png");
}
.post-bg {
    background-image: url("https://cdn-images.zety.com/images/common/icons/icon-career-course@1_25x.png");
}
.about-bg {
    background-image: url("https://cdn-images.zety.com/images/common/icons/icon-career-course@1_25x.png");
}

.builder-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sub-menu {
    background-color: #f1f8fe;
    .sub-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        min-height: 3.8125rem;
        width: 23.55rem;
        padding: 0px 15px 11px 25px;
    }
    .sub-item:hover,
    .sub-content a:hover {
        color: #4f8dfa;
    }

    .sub-content {
        display: flex;
        flex-direction: column;
        .sub-link {
            font-weight: 600;
            font-size: 0.875rem;
        }
        span {
            font-size: 0.75rem;
        }
        a {
            background-color: inherit;
        }
    }
}

.sub-icon {
    padding-right: 15px;
    opacity: 0.6;
}

.sub-icon svg {
    display: block;
    width: 1.5rem;
    height: auto;
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.1rem;
    transition: stroke 0.25s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0ms;
}
