@mixin section($name, $padding-rem) {
    .section-#{$name} {
        padding-top: #{$padding-rem}rem;
        padding-bottom: #{$padding-rem}rem;
    }
}

@include section(small,2.5);
@include section(medium,4);
@include section(large,6.25);

@mixin section-background($name,$color,$image) {
   .section-bg-#{$name} {
       @if $image == 1 {
            background: $color;
       }
       @if $image == 0 {
           background-color: $color;
       }
   }
}

@include section-background(blue,#f1f8fe,0);
@include section-background(grey,#fafafb,0);
@include section-background(broken,url("https://cdn-images.zety.com/images/common/patterns/triangles-400.jpg"),1);


.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-subtitle {
    margin-top: 2.2rem;
    margin-bottom: 1.25rem;
}